footer
  .wrapper
    .wrapper-content
      .footer_adress
        p.number SUPORT:  (844) 295-0900
        p.email support@frontdeskhelpers.com
      .footer_icons
        .icon
          <i class="fa fa-facebook" aria-hidden="true"></i>
        .icon
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        .icon
          <i class="fa fa-youtube" aria-hidden="true"></i>
        .icon
          <i class="fa fa-linkedin" aria-hidden="true"></i>
      .footer_nav
        .footer_nav-item Privacy Policy
        .footer_nav-item Terms of Service
        .footer_nav-item Terms of Sales
      .footer_mark © 2017 FDH Cloud
      .footer_img