.form
  .wrapper
    .wrapper-content
      h1.form_title A couple of steps to make your store popular
      .steps
        button.step.activeStep step 1
        button.step step 2
        button.step step 3
      .form_descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      .form_items
        input.name(type="name", placeholder="Enter First Name" required)
        input.lastName(type="name", placeholder="Enter Last Name" required)
        input.email(type="email", placeholder="Enter Email" required)
        button.formBtn next
        .errorText заполните все поля корректно

      .form_descr-step2 Lorem ipsum dolor sit amet STEP2 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      .form_items-step2.form_items
        input.name2(type="name", placeholder="Enter First Name" required)
        input.lastName2(type="name", placeholder="Enter Last Name" required)
        input.email2(type="email", placeholder="Enter Email" required)
        button.formBtn next
        .errorText2


      .form_descr-step3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. STEP3
      .form_items-step3.form_items
        input(type="name", placeholder="Enter First Name" required)
        input(type="name", placeholder="Enter Last Name" required)
        input(type="email", placeholder="Enter Email" required)
        button.formBtn end