main
  .wrapper
    .wrapper-content
      h1.goods_title Choose beacons and fill in the order form?
      .goods
        +good('ASensor', 'img1', '15', 'Sensor is a BLE beacon with multiple advertising data formats. The BLE is a very low power 2.4G radio that can transmit the beacon information efficiently. The typical beacon battery life is 1.5 year in default settings 3-Axis, 12-bit accelerometer magna aliqua.', '14')

        +good('ARM Cortex - M0', 'img2', '13', 'ARM Cortex - M0 32-bit processor Dialog solution, long battery life Support Bluetooth Smart 4.0 Builtin 1 x CR2450 battery holder Temperature sensor for environment monitoring Configurable by App AprilBeacon', '14')

        +good('Estimote Proximity Beacons', 'img3', '25', 'Estimote Proximity Beacons lifetime: 2 years range: up to 70 m packets: iBeacon™ or Eddystone™ features: motion & temperature sensor, NFC ', '14')

        +good('ASensor', 'img4', '15', 'Sensor is a BLE beacon with multiple advertising data formats. The BLE is a very low power 2.4G radio that can transmit the beacon information efficiently. The typical beacon battery life is 1.5 year in default settings 3-Axis, 12-bit accelerometer magna aliqua.', '14')