header
  .wrapper
    .wrapper-content

      .header_img
      .hamburger-menu
        input#menu__toggle(type="checkbox")
        label.menu__btn(for="menu__toggle")
          span
        ul.menu__box
          li
          a.menu__item( href="#") home
          li
          a.menu__item.activeItem( href="#") order servise
          li
          a.menu__item( href="#") beacon markering

      .header_content
        .header_navigation
          block navigation
          //- button.navigation_item home
          //- button.navigation_item order servise
          //- button.navigation_item beacon markering

        .header_info
          h1.header_info-title Discount for Services
          p.header_info-text__large Our advertisement services cost $10 per beacon per month, and we offer wholesale discounts:
          p.header_info-text__small Free installation of the beacons is also an option, but then their marketing capabilities will be used by third parties also. How to Get Connected To get connected to our service or find out more information, please call us at (844)-295-0900 or purchase our service through our site at https://fdh.cloud/order/services
