extends ../layout/main

block variables
  - var title = 'test task';
  - var description = 'Description for Webpack + Pug';

block navigation
  +headerNavItem('home')
  +headerNavItem('order servise')
  +headerNavItem('beacon markering')
