/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'latoRegular', sans-serif;
// Size
$mainFontColor           : white;
$mainFontSize            : 18px;
$mainFontSizeCartDescr   : 16px;
$mainFontSizeFooterAdress: 22px;
$mainFontSizeFooter      : 20px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;


$titleFont1              : 'latoBlack', sans-serif;
// Size
$titleFont1Color         : white;
$titleFont1Size          : 36px;
$formStepsSize           : 22px;
$cartTitleActive         : 24px;
$buyNowActive            : 20px;
$headerActiveButton      : 18px;
$ActiveButtonColor       : #64d295;

$titleFont2              : 'latoBold', sans-serif;
// Size
$titleFont2Color         : black;
$titleFont2Size          : 36px;
$formButtonSize          : 27px;
$formFontrSize           : 24px;
$formFontColor           : #282828;


$desktopWidth            : 1170px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
